@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFPRODISPLAYREGULAR.OTF") format("otf");
}

body {
  color: #ffffff;
  /* background-color: #16161D; */
  font-family: "SF Pro Display";
}

.bg-image {
  width: 100%;
  background-image: url("/images/rick_and_morty_bg1.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(10px);
  background-attachment: fixed;
  /* color: #1cf544; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .logo {
    @apply flex justify-center items-center h-8 text-xl font-bold cursor-pointer;
  }

  .nav-link {
    @apply pb-2 hover:text-primary transition-all ease-linear font-semibold;
  }

  .home-btn {
    @apply h-[48px] min-w-[144px] font-semibold flex justify-center items-center rounded-lg py-[14.5px] px-[28.5px];
  }
}
