@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFPRODISPLAYREGULAR.OTF") format("otf");
}

body {
  color: #ffffff;
  background-color: #16161d;
  font-family: "SF Pro Display";
}

.bg-image {
  width: 100%;
  background: {
    image: url("/images/rick_and_morty_bg1.jpeg");
    size: cover;
    repeat: no-repeat;
    attachment: fixed;
  }

  // Responsive adjustments for background images
  @media (max-width: 768px) {
    background-image: url("/images/rick_and_morty_bg1_mobile.jpeg");
    background-position: right;
  }
}

.bg-image-2 {
  background-image: url("/images/rick_and_morty_bg2.png");

  @media (max-width: 768px) {
    background-image: url("/images/rick_and_morty_bg2_mobile.jpg");
    background-position: right;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .logo {
    @apply flex justify-center items-center h-8 text-xl font-bold cursor-pointer;
  }

  .nav-link {
    @apply hover:text-primary transition-all ease-linear font-semibold;
  }
  .active {
    @apply text-primary;
  }
  
  .home-btn {
    @apply h-[48px] min-w-[144px] font-semibold flex justify-center items-center rounded-lg py-[14.5px] px-[28.5px];
  }

  .character-image {
    img {
      @apply block w-full h-full;
    }
    .image-overlay {
      @apply cursor-pointer absolute top-0 left-0 w-full h-full opacity-0 bg-backdrop bg-opacity-75 text-white flex justify-center items-center  transition-all ease-linear backdrop-blur-sm hover:opacity-100 px-4 focus:opacity-100;
      & > * {
        @apply translate-y-[20px] transition-transform;
      }
      &:hover > * {
        @apply translate-y-0;
      }
      .image-name {
        @apply text-xl font-bold text-center transition-all ease-linear;
      }
      &:hover > .image-name {
        @apply text-2xl;
      }
    }
  }
}
